<% @posts.each do |p| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= p.title %><br><br>
        &mdash; <strong><%= p.link %></strong> <%= p.created_at %>
      </div>
      <%= link_to 'Delete', p, :class => 'js-delete-btn btn btn-danger' %>
    </div>
<% end %>

<%= link_to 'New Post', 'posts/new', :class => 'btn btn-primary' %>
